.PopupCustom {
  background: transparent;
  box-shadow: none;
}

.PopupCustom :global .mapboxgl-popup-content {
  background: transparent;
  box-shadow: none;
  border: none;
  padding-left: 60px;
}

.PopupCustom :global .mapboxgl-popup-tip {
  display: none;
}

.PopupCustom :global .mapboxgl-popup-close-button {
  display: none !important;
}

.Images {
  transform-origin: center;
  width: fit-content;
}
