.ProfileBubble {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.ProfileBubble :global img {
  position: relative;
  width: 150px;
  height: auto;
  border-radius: 50%;
  object-fit: cover;
  display: block;
}

.ProfileBubble :global .text {
  visibility: hidden;
}

.ProfileBubble :global .activeText {
  position: absolute;
  color: rgba(255, 255, 255);
  z-index: 1;
  text-align: center;
  margin-bottom: 15px;
  width: 150px;
  visibility: visible;
}

.ProfileBubble :global .name {
  font-size: 14px;
  font-weight: bold;
  margin: 0;
}

.ProfileBubble :global .timeframe {
  font-size: 10px;
  line-height: 1.2;
  margin: 0;
}
