.ProfileBubble {
  position: relative;
}
.ProfileBubble :global img {
  width: 150px;
  height: auto;
  border-radius: 50%;
  object-fit: cover;
  display: block;
}

.ProfileBubble :global .text {
  visibility: hidden;
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translate(-50%, -10%);
  color: rgba(255, 255, 255);
  z-index: 2;
  text-align: center;
  width: 150px;
}

.ProfileBubble :global .activeText {
  visibility: visible;
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translate(-50%, -10%);
  color: rgba(255, 255, 255);
  z-index: 2;
  text-align: center;
  width: 150px;
}

.ProfileBubble :global .name {
  font-size: 14px;
  font-weight: bold;
  margin: 0;
}

.ProfileBubble :global .timeframe {
  font-size: 10px;
  line-height: 1.2;
  margin: 0;
}
