@font-face {
  font-family: 'Greycliff';
  src: url('../../fonts/GreyCliff/Greycliff-CF-Light.otf') format('opentype');
  src: url('../../fonts/GreyCliff/Greycliff-CF-Regular.otf') format('opentype');
  src: url('../../fonts/GreyCliff/Greycliff-CF-Bold.otf') format('opentype');
}

.card {
  width: 320px;
  border-radius: 15px;
  background-color: #ffffff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  color: #282625;
}

.card img {
  width: 100%;
  height: auto;
}

.cardContent {
  font-family: 'Greycliff', sans-serif;
  font-weight: light;
  padding: 10px;
  font-size: 16px;
}

.cardContent h1 {
  font-family: 'Greycliff', sans-serif;
  font-weight: lighter;
  font-size: 28px;
  margin: 10px 0;
}

.tags {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
}

.tag {
  background-color: #edd8b9;
  border-radius: 15px;
  padding: 5px 10px;
  font-size: 14px;
  font-weight: 100;
}

.details {
  font-size: 16px;
  display: flex;
  align-items: center;
  margin: 10px 0;
}

.timeParticipantsWrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 20px;
}

.leftSide {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
  text-align: center; /* Ensure text is centered */
}

.separator {
  width: 1px;
  background-color: #ddd;
  height: 120px;
  margin: 0 20px;
}

.rightSide {
  display: flex;
  justify-content: center;
  align-items: center;
}

.time,
.participants {
  font-size: 16px;
  text-align: center; /* Ensure text is centered */
}

.time {
  font-weight: bold;
  margin-bottom: 10px;
}

.participants {
  display: flex;
  flex-direction: column; /* Use column direction for centering vertically */
  align-items: center; /* Ensure items are centered */
  gap: 5px;
}

.locationIcon {
  width: 24px;
  height: 24px;
  margin-right: 10px;
  display: inline-block;
}

.participantsIcon {
  width: 40px;
  height: 40px;
  display: inline-block;
}

.qrCode img {
  width: 120px;
  height: 120px;
}
