.card {
  width: 360px;
  height: 650px;
  border-radius: 15px;
  background-color: #fcf8f3;
  box-shadow: 0 8px 10px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  color: #282625;
}

.card img {
  width: 100%;
  height: auto;
}

.cardContent {
  font-family: "Greycliff", sans-serif;
  padding: 24px;
  font-size: 18px;
}
.cardContent span {
  font-family: "Greycliff", sans-serif;
  font-weight: lighter;
  font-size: 22px;
  line-height: 1.1em;
}
.cardContent p {
  font-family: "Greycliff", sans-serif;
  font-weight: 500;
  line-height: 1.1em;
  font-size: 20px;
}

.cardContent h1 {
  font-family: "Greycliff", sans-serif;
  font-weight: bold;
  font-size: 32px;
  /* margin: 10px; */
}
.cardContent h2 {
  font-family: "Greycliff", sans-serif;
  font-weight: 500;
  font-size: 24px;
}

.checkList {
  list-style-type: none;
  padding: 0;
}

.checkListItem {
  display: flex;
  align-items: center;
  font-size: 20px;
  margin-bottom: 10px;
}

.checkListItem input {
  margin-right: 10px;
}

.tags {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
  /* margin-left: 10px; */
}

.tag {
  background-color: #edd8b9;
  border-radius: 15px;
  margin-top: 10px;
  padding: 5px 10px;
  font-size: 18px;
  font-weight: 100;
}

.details {
  font-size: 20px;
  display: flex;
  align-items: center;
}

.timeParticipantsWrapper {
  display: flex;
  align-items: flex-start;
  margin-top: 20px;
}

.leftSide {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 10px;
  text-align: center;
}

.separator {
  width: 1px;
  background-color: #ddd;
  height: 160px;
  margin: 20px;
}
.horizontalSeparator {
  height: 1px;
  background-color: #ddd;
  margin-top: 40px;
  margin-bottom: 20px;
}

.rightSide {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.participants {
  font-size: 20px;
  font-weight: bold;
  margin-left: 10px;
}

.time {
  font-weight: bold;
  margin-top: 10px;
  font-size: 18px;
  margin-bottom: 10px;
  margin-left: 10px;
}

.participants {
  display: flex;
  flex-direction: column; /* Use column direction for centering vertically */
  align-items: center; /* Ensure items are centered */
  gap: 5px;
}

.locationIcon {
  width: 44px;
  height: 44px;
  margin-right: 14px;
 
}

.participantsIcon {
  width: 40px;
  height: 40px;
  display: inline-block;
}

.qrCode img {
  width: 120px;
  height: 120px;
  display: inline-block;
  text-align: center;
}

.guide {
  display: flex;
  align-items: center;
  margin-top: 1rem;
}

.guide img {
  border-radius: 50%;
  width: 90px;
  height: 90px;
  margin-right: 20px;
}

.guideInfo {
  display: flex;
  flex-direction: column;
  font-weight: 500;
}

/* .scanSection {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.scanSection strong {
  flex: 1;
} */