.Details {
  position: relative;
  z-index: 1;
  background-color: aliceblue;
  width: fit-content;
  height: fit-content;
}

.Details :global h1 {
  margin: 0px;
}

.Details :global .DraggablePopup {
  cursor: grab;
}

.Details :global .DraggablePopup:active {
  cursor: grabbing;
}

.rotate {
  transform: rotate(45deg); /* Example rotation */
}

.tapTarget {
  transition: transform 0.3s ease, background-color 0.3s ease;
  /* Include other styles for your tap target here */
}
