.Details {
  position: relative;
  z-index: 1;
  background-color: aliceblue;
  width: fit-content;
  height: fit-content;
}

/* .Text h1 {
  margin: 0px;
  background-color: pink;
}

.Text p {
  margin: 0px;
  background-color: blue;
} */

/* Details.module.css */
.Container {
  position: relative;
}

.HeaderContainer {
  transition: transform 0.5s ease-in-out; /* Smooth rotation animation */
  transform-origin: center center; /* Rotate around the center */
}

.Content {
  padding: 10px;
  background-color: white; /* Adjust as necessary */
  border: 1px solid #ccc; /* Adjust as necessary */
  border-radius: 5px; /* Adjust as necessary */
}

.Container {
  margin: 5px;
  background-color: rgb(106, 160, 100);
}

.rotate {
  transform: rotate(45deg); /* Example rotation */
}

.tapTarget {
  transition: transform 0.3s ease, background-color 0.3s ease;
  /* Include other styles for your tap target here */
}

/*.Details {
  /* Add your styles for the Details component here */


/* DetailCard1 styling */
.DraggablePopup {
  background-color: #ffffff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  overflow: hidden;
  width: 300px;
}

.card {
  width: 100%;
}

.card img {
  width: 100%;
  height: auto;
}

.card-content {
  padding: 20px;
}

.card-content h1 {
  font-size: 24px;
  margin: 0 0 10px;
}

.tags {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
}

.tag {
  background-color: #f0e68c;
  border-radius: 5px;
  padding: 5px 10px;
  font-size: 12px;
}

.details, .time, .participants {
  margin: 10px 0;
}

.details {
  font-size: 14px;
  color: #666666;
}

.time {
  font-size: 18px;
  font-weight: bold;
}

.participants {
  display: flex;
  align-items: center;
  gap: 5px;
}

.participants img {
  width: 20px;
  height: 20px;
}

.qr-code {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.qr-code img {
  width: 100px;
  height: 100px;
}

.button {
  display: block;
  width: 100%;
  text-align: center;
  padding: 10px 0;
  background-color: #f0e68c;
  text-decoration: none;
  color: #000000;
  border-top: 1px solid #dddddd;
  font-weight: bold;
}
