.Details {
  position: relative;
  z-index: 1;
  background-color: aliceblue;
  width: fit-content;
  height: fit-content;
}

/* .Text h1 {
  margin: 0px;
  background-color: pink;
}

.Text p {
  margin: 0px;
  background-color: blue;
} */

/* Details.module.css */
.Container {
  position: relative;
}

.HeaderContainer {
  transition: transform 0.5s ease-in-out; /* Smooth rotation animation */
  transform-origin: center center; /* Rotate around the center */
}

.Content {
  padding: 10px;
  background-color: white; /* Adjust as necessary */
  border: 1px solid #ccc; /* Adjust as necessary */
  border-radius: 5px; /* Adjust as necessary */
}

.Container {
  margin: 5px;
  background-color: rgb(106, 160, 100);
}

.rotate {
  transform: rotate(45deg); /* Example rotation */
}

.tapTarget {
  transition: transform 0.3s ease, background-color 0.3s ease;
  /* Include other styles for your tap target here */
}

